body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

header {
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #8EF13C;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid #008500;
    border-bottom: 5px solid #6BE400	;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
   
}

.nav-link {
    font-size: 25px;
    text-decoration: none;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    text-align: center;
    color: #A0F06C;
    font-size: 36px;
    margin-top:30px;
    margin-bottom: 40px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: #00782D;
    padding:25px ;
    width: 400px;
    margin:20px ;
}

.article-but {
    text-decoration: none;
    background-color: white;
    color: #006F48;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #007241;
    padding: 20px ;
    display: flex;
}

footer a {
    margin-right: 20px;
}

footer p {
    font-size: 24px;
}
